{% capture content %}
<div class='labs-list-wrapper'>
  <ul class='labs-list'>
  {% for page in site.pages %}
    {% unless page.slug == 'home' %}
    <li>
      <a class="icon ss-icon ss-gizmo"{% if page.meta.color %} style="background-color:{{ page.meta.color }}"{% endif %} href='{{ page.url }}'{% if slug == page.slug || slug == parent.slug %} class="is-current"{% endif %}>{{ page.meta.icon | fallback: 'file' }}</a>
    </li>
    {% endunless %}
  {% endfor %}
  </ul>
</div>
{% endcapture %}

{% include 'layouts/default' %}
