@import '_normalize'
@import '_mixins'
@import '_variables'

// Base
//============================================================
body
  color: $text_normal
  font-family: $source
  font-size: $fs_normal
  background: #fff

*
  @include box-sizing(border-box)

::selection
  background: $blue
  color: #fff

ul, ol, li
  margin: 0
  padding: 0
  list-style: none

img
  max-width: 100%

a
  color: $text_green
  text-decoration: none

  &:hover
    color: $text_green_hover


// Modules
//============================================================
.button, button
  @include user-select(none)
  @include antialias
  padding: 11px 20px
  background: $green
  box-shadow: 0 2px 0 darken($green, 13%)
  border: 0 none
  border-radius: 3px
  color: #fff
  font-weight: bold
  font-size: $fs_normal
  text-align: center
  text-decoration: none
  display: inline-block
  cursor: pointer

  &:hover
    background: darken($green, 4%)
    text-decoration: none

  &:focus, &:active
    box-shadow: inset 0 2px 2px rgba(#000, 0.1)
    position: relative
    top: 2px
    outline: none

  &.secondary
    box-shadow: 0 2px 0 darken($blue, 13%)
    background: $blue

    &:hover
      background: darken($blue, 4%)

    &:focus, &:active
      box-shadow: inset 0 2px 2px rgba(#000, 0.1)


  &.is-loading, &.is-disabled
    background: $bg_disabled
    color: #f0f1f6
    box-shadow: none
    pointer-events: none

  em
    font-weight: normal
    font-style: normal

  .ss-icon
    position: relative
    top: 3px
    left: -6px

// Main header
//============================================================
.main-header
  &.fixed
    position: fixed
    top: 0
    left: 0
    z-index: 9999

  .logo
    background: url(/assets/images/logo.svg) no-repeat
    background-size: contain
    width: 44px
    height: 63px
    margin: 0.5em
    text-indent: -9999px

    a
      display: block
      width: 100%
      height: 100%

  p
    position: absolute
    left: 62px
    top: 16px
    font-size: 0.875em
    margin-left: 1em
    width: 15em

// Main dropdown
//============================================================
.main-dropdown
  z-index: 9999
  cursor: pointer
  position: fixed
  left: 0
  top: 0

  .handle
    border-radius: 50%
    background: white
    width: 3em
    height: 3em
    margin: 0.5em
    color: $green
    text-align: center

    .icon
      font-size: 1.5em
      line-height: 2.25em

  .menu
    +clearfix
    display: none
    padding: 0em 1.5em 1em 1.125em

  &:hover
    .handle
      +rotate(180deg)

    .menu
      display: block

// Main content
//============================================================
.main-content
  position: relative

// Main sidebar
//============================================================
.main-sidebar
  background: $bg_smoke
  padding: 2em 1em
  position: fixed
  left: 0
  top: 0
  width: $sidebar_width
  height: 100%
  overflow: auto

  .logo
    width: 66px
    height: 94px
    background: url(/assets/logo.svg) no-repeat center
    margin: 0.5em auto 1.5em
    text-indent: -9999px

    a
      display: block
      width: 100%
      height: 100%

  p
    font-size: 0.875em

// Labs nav
//============================================================
.main-nav
  .labs-list
    li
      margin-bottom: 1em

      a
        text-decoration: none
        color: $text_dark

    .icon
      @extend %smallNavIcon
      margin-right: 5px

      & + .title
        position: relative
        top: 1px

.labs-list-wrapper
  position: fixed
  width: 100%
  height: 100%

.labs-list
  position: absolute
  float: left
  top: 50%
  left: 50%
  margin-top: -48px

  li
    position: relative
    float: left
    right: 50%
    margin: 1em

  .icon
    @extend %largeNavIcon

// Main footer
//============================================================

.main-footer
  margin: 1em


// device
//============================================================
.iphone5-wrapper
  max-width: 418px


// code
//============================================================

pre
  margin: 0
  line-height: 0
  font-size: 0.875em
  word-wrap: break-word

  code
    font-family: monospace, serif
    line-height: 1.5em
