{% capture head %}
<link href='/assets//styles/device-mockups.css' rel='stylesheet'>
<link href='//yandex.st/highlightjs/7.3/styles/solarized_dark.min.css' rel='stylesheet'>
<link href='/assets/styles/{{ slug }}.css' rel='stylesheet'>
<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script src='/assets/scripts/libs/spine.js'></script>
<script src='/assets/scripts/libs/spine-route.js'></script>
<script src='/assets/scripts/libs/spine-manager.js'></script>
<script src='//yandex.st/highlightjs/7.3/highlight.min.js'></script>
<script src='{{ url }}/assets/scripts/mobile-content.js'></script>
{% endcapture %}

{% capture content %}
  <section class='device-section iphone5-wrapper'>
    <div class='device-mockup iphone5 portrait white'>
      <div class='device'>
        <div id='app-view' class='screen is-home app-view'>
          <header class='app-header'>
            <h1>Support</h1>
            <a class='app-back-button back ss-navigateleft' href='#'></a>
          </header>
          <div class='app-content'>
            <div id='app-stack' class='app-stack'>
              <section id='home-view' class='app-section app-section-home' data-title='Support'>
                <nav class='app-nav'>
                  <ul class='nav-list'>
                    {% for page in pages %}
                    <li class='nav-item' data-slug='{{ page.slug }}'><span class='title'>{{ page.title }}</span><span class='arrow ss-navigateright'></span></li>
                    {% endfor %}
                  </ul>
                </nav>
              </section>
            </div>
            <footer class='app-view-footer'>
              <button id='phone-button' class='green-button'><span class='ss-phone ss-icon'></span> Call us</button>
              <button id='email-button' class='green-button'><span class='ss-mail ss-icon'></span> Email us</button>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>
  <aside class='code-aside'>
    {{ meta.code-sidebar | md }}
    <pre>
      <code id='code' class='json'></code>
    </pre>
  </aside>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
{% endcapture %}

{% include 'layouts/default' %}
