<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <title>{{ site.title }} - {{ current.title }}</title>

    <meta property="twitter:site" content="{{ site.meta.twitter }}">
    <meta name='description' content='{{ site.meta.description }}'>

    <link rel='icon shortcut' href='/assets/images/favicon.ico'>

    <link type="application/rss+xml" rel="alternate" title="{{ site.title }}" href="feed.xml">
    {% include 'includes/fonts' %}
    <link href="//cdn.symbolset.com/{{ site.meta.symbolset }}/symbolset.css" rel="stylesheet">
    <link href='/assets/styles/screen.css' rel='stylesheet'>

    <script src="//use.typekit.net/{{ site.meta.typekit }}.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    {{ head }}
  </head>

  <body class='{{ type }}'>
    <header class='main-header'>
      <h1 class='logo'><a href='http://siteleaf.com'>Siteleaf</a></h1>
      {{ site.meta.siteleaf-description | md }}
    </header>

    <section class="main-content">
      {{ content }}
    </section>

    <footer class="main-footer">
      {{ footer }}
    </footer>
    <script src="//cdn.symbolset.com/{{ site.meta.symbolset }}/symbolset.js"></script>
  </body>
</html>

