<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>

    <title>{{ site.title }} - {{ current.title }}</title>

    <meta property="twitter:site" content="{{ site.meta.twitter }}">
    <meta name='description' content='{{ site.meta.description }}'>

    <link rel='icon shortcut' href='/images/favicon.ico'>

    <link type="application/rss+xml" rel="alternate" title="{{ site.title }}" href="feed.xml">
    {% include 'includes/fonts' %}
    <link href="//cdn.symbolset.com/{{ site.meta.symbolset }}/symbolset.css" rel="stylesheet">
    <link href='/assets/styles/screen.css' rel='stylesheet'>

    <script src="//use.typekit.net/{{ site.meta.typekit }}.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    {{ head }}
  </head>

  <body class='{{ type }}'>
    <aside class='main-sidebar'>
      <h1 class='logo'><a href='/'>Siteleaf</a></h1>
      {{ site.meta.siteleaf-description | md }}
      <nav class="labs-nav">
        {% for page in site.pages %}
          <a href='{{ page.url }}'{% if slug == page.slug || slug == parent.slug %} class="is-current"{% endif %}>
            <span class="ss-icon ss-gizmo"{% if page.meta.color %} style="background-color:{{ page.meta.color }}"{% endif %}>{{ page.meta.icon | fallback: 'file' }}</span>
            {{ page.title }}
          </a>
        {% endfor %}
      </nav>

      <footer class='main-footer'>
        &copy; {{ site.date | date: '%Y' }} Siteleaf&reg; is a registered trademark of Oak Studios, LLC.
      </footer>
    </aside>

    <section class="main-content">
      {{ content }}
    </section>

    <script src="//cdn.symbolset.com/{{ site.meta.symbolset }}/symbolset.js"></script>
  </body>
</html>
